@use '../../../../shared/styles/variables.scss' as *;

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: $medium-gap;
   border: 1px solid $light-gray;
   border-radius: 12px;
   padding: 15px;
   width: 100%;
   max-width: 280px;

   .imgWrapper {
      width: 100%;
      aspect-ratio: 1 / 1;

      .img {
         width: 100%;
         height: 100%;
         max-height: 200px;
         object-fit: cover;
      }
   }
   
   .catName {
      text-align: center;
   }
}