@use '../../../shared/styles/mixins.scss' as *;
@use '../../../shared/styles/variables.scss' as *;

.button {
   @include avatarSize;
   border: 0;
   background-color: inherit;
   font-size: 16px;
   position: relative;
   transition: all .5s;

   &:hover {
      transform: scale(0.85);
   }

   &.match {
      background-color: $light-red;
      border-radius: 50%;

      &::after {
         @include centeredChildIcon;
         background: url('../../../shared/assets/likeIcon.png') center center;
         background-size: contain;
      }
   }
   &.message {
      background-color: $light-blue;
      border-radius: 50%;

      &::after {
         @include centeredChildIcon;
         background: url('../../../shared/assets/messageIcon.svg') center center;
         background-size: contain;
      }
   }   
   &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
   }
}