@import '../../../shared/styles/mixins.scss';
@import '../../../shared/styles/variables.scss';

.button {
   border: 0;
   position: relative;
   transition: all .5s;

   &:hover {
      transform: scale(0.85);
   }

   &.match {
      width: 50px;
      height: 50px;
      background-color: $light-red;
      border-radius: 50%;

      &::after {
         @include centeredChildIcon;
         background: url('../../../shared/assets/likeIcon.png') center center;
         background-size: contain;
      }
   }
   &.message {
      width: 50px;
      height: 50px;
      background-color: $light-blue;
      border-radius: 50%;

      &::after {
         @include centeredChildIcon;
         background: url('../../../shared/assets/messageIcon.svg') center center;
         background-size: contain;
      }
   }   
}