@use '../../../../shared/styles/mixins.scss' as *;
@use '../../../../shared/styles/variables.scss' as *;

.card {
   @include centeredContainer;
   gap: $big-gap;
   width: 100%;
   max-width: 874px;
   margin: 0 auto;
   transition: transform 0.2s ease;
   user-select: none;

   &.swipeLeft {
      transform: translateX(-100px) rotate(-15deg);
   }
   
   &.swipeRight {
      transform: translateX(100px) rotate(15deg);
   }

   &Data {
      @include centeredContainer;
      gap: $medium-gap;
      width: 100%;
      
      .imgContainer {
         width: 100%;
         max-width: 874px;
         height: 0;
         padding-bottom: 100%;
         overflow: hidden;
         position: relative;

         .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
      
      .name {
         font-size: 26px;
      }
   }
   &Actions {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
   }
   .swipeTips {
      display: flex;
      justify-content: space-evenly;
      gap: $big-gap;
      width: 100%;
   }
}