@use '../../../../shared/styles/mixins.scss' as *;
@use '../../../../shared/styles/variables.scss' as *;

.card {
   @include centeredContainer;
   gap: $big-gap;
   width: 100%;
   transition: transform 0.2s ease;
   user-select: none;

   &.swipeLeft {
      transform: translateX(-100px) rotate(-15deg);
   }
   
   &.swipeRight {
      transform: translateX(100px) rotate(15deg);
   }

   &Data {
      @include centeredContainer;
      gap: $medium-gap;
      width: 100%;
      
      .img {
         width: 100%;
         max-height: calc(100vh - 97px - 150px - 125px - 24px - 50px);
         object-fit: contain;
      }
      .name {
         font-size: 26px;
      }
   }
   &Actions {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
   }
   .swipeTips {
      display: flex;
      justify-content: space-evenly;
      gap: $big-gap;
      width: 100%;
   }
}