@use '../../../../shared/styles/mixins.scss' as *;
@use '../../../../shared/styles/variables.scss' as *;

.messageContainer {
   display: flex;
   align-items: center;
   border-bottom: 1px solid $light-gray;
   padding: 10px 0;
   gap: 30px;

   &.you {
      justify-content: flex-start;
   }
   &.buddy {
      justify-content: flex-end;
   }

   .messageData {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      p {
         max-width: 100%;
      }
   }
   
   .avatar {
      @include avatarSize;
      border-radius: 50%;
   }
}