@use '../../../shared/styles/mixins.scss' as *;
@use '../../../shared/styles/variables.scss' as *;

.card {
   @include centeredContainer;
   gap: $big-gap;
   width: 100%;

   &Data {
      @include centeredContainer;
      gap: $medium-gap;
      width: 100%;
      
      .img {
         width: 100%;
         max-height: calc(100vh - 97px - 150px - 125px);
         object-fit: contain;
      }
      .name {
         font-size: 26px;
      }
   }
   &Actions {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
   }
}