@import '../../../../shared/styles/mixins.scss';
@import '../../../../shared/styles/variables.scss';

.container {
   @include centeredContainer;
   flex-direction: row;
   justify-content: space-between;
   border: 1px solid $light-gray;
   width: 100%;
   padding: 10px 25px;

   .img {
      width: 50px;
      height: 50px;
      border: 1px solid $light-gray;
      border-radius: 50%;
   }
}