@import '../../../../shared/styles/mixins.scss';
@import '../../../../shared/styles/variables.scss';

.container {
   @include centeredContainer;
   flex-direction: row;
   justify-content: space-between;
   border: 1px solid $light-gray;
   width: 100%;
   padding: 10px 25px;
   cursor: pointer;

   .img {
      @include avatarSize;
      border: 1px solid $light-gray;
      border-radius: 50%;
      object-fit: cover;
   }
}