@use '../../../shared/styles/variables.scss' as *;

.container {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: $medium-gap;

   &Title {
      font-size: 23px;
      text-align: center;
   }

   .itemsContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      gap: $medium-gap $big-gap;
   }
}