@use '../../../../shared/styles/variables.scss' as *;
@use '../../../../shared/styles/mixins.scss' as *;

.container {
   position: relative;

   .input {
      border-color: $light-gray;
      border-radius: 20px;
      width: 100%;
      padding: 20px;
   }
   .button {
      position: absolute;
      border: 0;
      border-radius: 12px;
      background-color: $light-gray;
      width: 40px;
      height: 40px;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
   }
}